{% extends 'base_accounts.html' %}

{% block title %} Log In {%endblock%}

{% block content %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <div class="text-center mx-5">
          <button type="submit" class="btn btn-warning btn-block">Log in</button>
        </div>
      </form>
      <div class="text-center py-2">
        <small>
          <a href="#" class="text-muted">Forgot your password?</a>
        </small>
        <div>New to Python Boards? <a href="{% url 'signup' %}">Sign up</a></div>
      </div>
    </div>
  </div>
{% endblock %}
