{% extends 'base_accounts.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
  <div class="row mb-5">
    <div class="col-md-6 offset-md-3">
      <form method="post">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Create an account</button>
        </div>
      </form>
      <div class="text-center mt-2">
        Already have an account? <a href="{% url 'login' %}">Log in</a>
      </div>
    </div>
  </div>
{% endblock %}
