{% extends 'base.html' %}

{% block title %}{{ topic.subject }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' topic.board.pk %}">{{ topic.board.name }}</a></li>
  <li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock %}

{% block content %}
  <div class="container">
    {% for post in posts %}
      <div class="row mt-3 align-items-center">
        <div class="col-md-3 offset-md-1 text-right">
          <small class="text-muted">{{ post.created_at }}</small>
          <p class="text-muted">{{ post.created_by.username }}</p>
        </div>
        <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <p class="card-text">{{ post.message }}</p>
                {% if post.created_by == user %}
                  <a href="{% url 'edit_post' post.topic.board.pk post.topic.pk post.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
    {% endfor %}
    {% include 'includes/pagination.html' %}
    <div class="row mt-3 mb-5">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Write your comment</h5>
            <form method="post" action="{% url 'new_topic_posts' topic.board.pk topic.pk %}">
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-warning">Post</button>
            </form>
          </div>
        </div>
      </div>
    <div>
  </div>
{% endblock %}
